<div class="btn-wrapper">
  <button id="watched-film-btn" data-watched-film-btn="watch-btn" class="btn">Watched</button>
  <button id="watched-queue-btn" data-queue-film-btn="queue-btn" class="btn">queue</button>
</div>