<button id="saerch-pages-btn" data-saerch-pages-btn="search-pages-btn" class="btn btn-active-style">
    <= </button>
        {{#each this}}
        <button id="saerch-pages-btn" data-saerch-pages-btn="search-pages-btn" class="btn btn-active-style">
            {{this}}
        </button>
        {{/each}}
        <button id="saerch-pages-btn" data-saerch-pages-btn="search-pages-btn" class="btn btn-active-style">
            =>
        </button>