.gallery {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  grid-gap: 30px;
  padding: 71px 60px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-poster {
  border-radius: 5px;
}

.movie-title,
.movie-info {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.movie-title {
  margin-top: 10px;
  margin-bottom: 3px;
  text-transform: uppercase;
}
.movie-info {
  color: #ff6b08;
}
