.page-header {
  padding-top: 40px;
  padding-bottom: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../img/bg-img-home1024.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 480px) and (max-width: 1023px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/bg-img-home768.jpg);
  }
  @media screen and (max-width: 479px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../img/bg-img-home320.jpg);
  }
}

.ref-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}
.logo-wrapper {
  display: flex;
}
.logo-img {
  margin-right: 10px;
}
.logo-ref {
  font-family: $main-font;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: #ffffff;
  display: flex;
}
.logo-text-wrapper{
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.home-ref {
  margin-right: 40px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}

.activ-link-style {
  border-bottom: 3px solid #ff6b08;
}

.library-ref {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
}

.search-form {
  width: 336px;
  margin: 0 auto;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 280px;
  }
}
.search-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 3px;
  right: 0px;
}

.search-field {
  width: 336px;
  padding-bottom: 5px;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  @media screen and (max-width: 767px) {
    width: 280px;
  }
}
.search-field::placeholder {
  font-size: 14px;
  color: #ffffff;
}
