.pagination {
  text-align: center;
  margin-bottom: 20px;
}

.btn-page1,
.btn-page2,
.btn-page3,
.btn-page4,
.btn-page5 {
  width: 40px;
  height: 40px;
  left: 492px;
  top: 1720px;

  background: #f7f7f7;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-page {
  width: 40px;
  height: 40px;
  left: 699px;
  top: 1720px;

  background: #f7f7f7;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-page1:hover,
.btn-page2:hover,
.btn-page3:hover,
.btn-page4:hover,
.btn-page5:hover,
.btn-page:hover {
  background: #ff6b08;
  transform: scale(1.07);
}

.btn-dots {
  display: inline-block;
  width: 40px;
  height: 33px;
  vertical-align: middle;
}

.active {
  background: #ff6b08;
  transform: scale(1.07);
  // z-index: 1;
}
